body {
    padding: 0px;
    margin: 0px;
    font-family: 'Arial',
        'Heltivica',
        sans-serif;
    font-style: normal;
}

header {
    width: 100%;
    min-height: 500px;
    background: #F1F3FF;
}


.br {
    width: 100px;
    height: 34px;
    background: #0D28A6;
}

.nav-link {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.btn-nav {
    position: static;
    width: 81px;
    height: 36px;
    border-radius: 2px;
    background: #5CB85F;
    border: 0;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
}

.slogan {
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    top: 177px;
}

.welcome-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    max-width: 468px;
}

.btn-mulai {
    border: 0px;
    background: #5CB85F;
    border-radius: 2px;
    width: 140px;
    height: 36px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.bg-blue {
    position: absolute;
    width: 613px;
    height: 243px;
    left: 736px;
    top: 261px;
    background: #0D28A6;
    border-radius: 60px 0px 0px 0px;
}


.bg-car {
    position: absolute;
    width: 613px;
    top: 120px;
    left: 736px;
    z-index: 9999;
}

.our-service {
    position: relative;
    width: 1027px;
    height: 428px;
    margin-top: 110px;
}

.img-blue {
    left: 99px;
}

.green {
    position: absolute;
    width: 133px;
    height: 133px;
    left: -90px;
    top: -30px;
    border-radius: 100%;
    background-color: #92D094;
}

.red {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 383px;
    top: 43px;
    border-radius: 100%;
    background-color: #FA2C5A;
}

.yellow {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 10px;
    top: 350px;
    border-radius: 100%;
    background-color: #F9CC00;
}

.bg-img {
    width: 374px;
    height: 366px;
    left: 0px;
    top: -70px;
    z-index: 99999;
}

.desc-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.desc-text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.service-list-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 100%;
    height: 148px;
    left: 0px;
    top: 76px;
}

.img-check-list {
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.our-list {
    left: 0px;
    top: 0px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #000000;
    margin: 0px 16px;
}

.why-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.why-desc {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.box-icon {
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 1168px;
    height: 196px;
    right: 136px;
    left: 136px;
    top: 1244px;
}

.card {
    padding: 24px;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    width: 268px;
    height: 196px;
    border-radius: 8px;
    margin: 0px 30px 0px 0px;
}


.icon {
    position: static;
    width: 32px;
    height: 32px;
    left: 24px;

}

.icon-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 16px 0px;
}

.icon-desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.testimonial-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.testimonial-desc {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.box-blue {
    width: 1168px;
    height: 326px;
    background: #0D28A6;
    border-radius: 13px;
}

.bg-banner {
    background: #0D28A6;
    border-radius: 13px;
    height: 326px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}

.banner-desc {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    width: 468px;
    height: 40px;
    margin-left: 60px;

}

.banner-btn {
    width: 140px;
    height: 36px;
    background: #5CB85F;
    border-radius: 2px;
    border: 0px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.faq-title-top {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.faq-desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.faq-title {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.faq-answer {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.conncet {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.al {
    width: 268px;
}

.address-bottom {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.menu-bottom {
    font-size: 14px;
    line-height: 20px;
}

.cr {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.logo-bottom {
    width: 100px;
    height: 34px;
    left: 873px;
    top: 36px;
    background: #0D28A6;
}

.carousel-indicators [data-bs-target] {
    background-color: black !important;
    margin-bottom: 10px !important;
}

.carausel-setting {
    background-color: #F1F3FF;
    width: 500px;
    border-radius: 10px;
    height: 200px;
}

.text-box-testi {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.testi-name {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}